# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env
.env*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

.venv

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore for the frontend-ecom
# dependencies
src/frontend-ecom/node_modules

src/frontend-ecom/.pnp
src/frontend-ecom.pnp.*
src/frontend-ecom.yarn/*
src/frontend-ecom/!.yarn/patches
src/frontend-ecom/!.yarn/plugins
src/frontend-ecom/!.yarn/releases
src/frontend-ecom/!.yarn/versions

# testing
src/frontend-ecom/coverage

# next.js
src/frontend-ecom/.next/
src/frontend-ecom/out/

# production
src/frontend-ecom/build

# misc
src/frontend-ecom/.DS_Store
src/frontend-ecom/*.pem

# debug
src/frontend-ecom/npm-debug.log*
src/frontend-ecom/yarn-debug.log*
src/frontend-ecom/yarn-error.log*
src/frontend-ecom/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
src/frontend-ecom/.env*

# vercel
src/frontend-ecom/.vercel

# typescript
src/frontend-ecom/*.tsbuildinfo
src/frontend-ecom/next-env.d.ts

# Ignore for the frontend-admin
# dependencies
src/frontend-admin/node_modules

src/frontend-admin/.pnp
src/frontend-admin.pnp.*
src/frontend-admin.yarn/*
src/frontend-admin/!.yarn/patches
src/frontend-admin/!.yarn/plugins
src/frontend-admin/!.yarn/releases
src/frontend-admin/!.yarn/versions

# testing
src/frontend-admin/coverage

# next.js
src/frontend-admin/.next/
src/frontend-admin/out/

# production
src/frontend-admin/build

# misc
src/frontend-admin/.DS_Store
src/frontend-admin/*.pem

# debug
src/frontend-admin/npm-debug.log*
src/frontend-admin/yarn-debug.log*
src/frontend-admin/yarn-error.log*
src/frontend-admin/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
src/frontend-admin/.env*

# vercel
src/frontend-admin/.vercel

# typescript
src/frontend-admin/*.tsbuildinfo
src/frontend-admin/next-env.d.ts